
<body>
    <div class="tout">
    <section class="banniere" id="banniere">
        <div class="contenu">
            <br><br><br><br>
                <h2><b><i>Que Des Plats Délicieux</i></b><br></h2>
                <a href="/Home/Privacy" class="btn1">Menus Traditionnels</a>
            <a href="#apropos" class="btn2">A PROPOS DE NOUS</a>
        </div>
    </section>
    <section class="apropos" id="apropos">
        <div class="row">
            <div class="col50">
                    <h2 class="titre-texte"><b><span>A</span> Propos De Nous</b></h2>
                <p>
                    Nous sommes une équipe de professionnels jeunes, dynamiques et ambitieux passionnés par la nourriture.<br> Notre amour de la nourriture provenant de différentes cuisines du monde entier ne cesse de grandir au fur et à mesure que nous en apprenons plus sur les différentes cultures.<br>
                    Les variétés et les options sur les menus ne cessent de nous surprendre. <br>
                    Notre objectif donc est de vous rapprocher de différentes cuisines marocaine, japonaise, espagnole et italienne et surtout de vous donner le choix de choisir ce qui vous correspond le plus.<br>
                    Les variétés et les options sur les menus ne cessent de nous surprendre.

                </p>
            </div>
            <div class="col50">
                <div class="img">
                    <img src="~/images/apropos.jpeg" alt="image">
                </div>
            </div>
        </div>
    </section>
    <section class="temoignage" id="temoignage">
        <div class="titre blanc">
                <h2 class="titre-texte1"><b><span>Q</span>ue Disent Nos <span>C</span>lients</b></h2>
        </div>
        <div class="contenu">
            <div class="box">
                <div class="imbox">
                    <img src="~/images/t1.jpeg" alt="">
                </div>
                <div class="text">
                    <p>La carte est variée, les plats sont très bons, le cadre en extérieur est super et les serveurs sont très aimables et serviables</p>
                    <h3>Mehdi</h3>
                </div>
            </div>
            <div class="box">
                <div class="imbox">
                    <img src="~/images/t2.jpg" alt="">
                </div>
                <div class="text">
                    <p>Restauration rapide.Les plats sont variés. Tout est bon.Je recommande</p>
                    <h3>Valentin </h3>
                </div>
            </div>
            <div class="box">
                <div class="imbox">
                    <img src="~/images/t3.jpg" alt="">
                </div>
                <div class="text">
                    <p>Merci pour votre aimable accueil et services.Nous vous remercions infiniment pour le délicieux repas que vous nous avons préparé hier soir. C'était vraiment très bon</p>
                    <h3>John</h3>
                </div>
            </div>
        </div>
    </section>
    </div>

</body>
